<div id="tudo">
  <div id="conteudo">
    
    <div id="topo">
      <nav class="navbar navbar-light" style="background: linear-gradient(to bottom, #0099ff 0%, #0066ff 100%);">
          <img src="../projeto/imagem/labinfo.gif" alt="Sem imagem" height="65" width="80"> <h2>Guia de links LABInfo</h2>
      </nav>
    </div>
  </div>
  <div id="principal">
    <div class="card-body gradient-buttons">
      <form>
      <button type="button" class="btn btn-outline-primary">Sistema de Seriais</button>
      <button type="button" class="btn btn-outline-primary">Criador de Tarefas</button>
      <button type="button" class="btn btn-outline-primary">Ocorrências</button>
      <button type="button" class="btn btn-outline-primary">Ocomon</button>
      <button type="button" class="btn btn-outline-primary">Gerenciamento de Tarefas</button>
      <button type="button" routerLink="bolsistaspage" class="btn btn-outline-primary">Cadastro dos Bolsistas</button>
      <button type="button" class="btn btn-outline-primary">Sistema de Ponto</button>
      <button type="button" class="btn btn-outline-primary">Chamados</button>
      <button type="button" class="btn btn-outline-primary">Sistema de Reservas</button>
      </form>
    </div>
  </div>
</div>
