<body>
<div id="tudo">
  <div id="conteudo">
      <div id="topo">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <img src="../projeto/imagem/labinfo.gif" routerLink="" class="img-responsive" alt="Sem Imagem" width="116" height="84">
          <a class="navbar-brand" href="bolsistas.html">Cadastro de Bolsistas</a>
      </nav>
      </div>
      <div id="sidebar">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                      <a class="nav-link" href="#">Principal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Cadastro</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Ex-Bolsistas</a>
                    </li>
              </ul>
      </div>
      <div id="tabletop">
          <p><b>Turno da Manhã(7:15 às 11:15)</b></p>
      </div>
      <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                </tr>
              </tbody>
            </table>        
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>