<body>
  <div id="tudo">
    <div id="conteudo">
      <div id="topo">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <img src="../projeto/imagem/labinfo.gif" routerLink="" class="img-responsive" alt="Sem Imagem" width="116" height="84">
          <a class="navbar-brand" href="bolsistas.html">Cadastro de Bolsistas</a>
        </nav>
      </div>
      <div id="sidebar">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="bolsistaspage" href="#">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bolsistaspage" onclick="javascript: window.open( routerLink='cadastro-page' ,'janela', 'width=700, height=450, top=200, left=200, scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ex-Bolsistas</a>
          </li>
        </ul>
      </div>
      <div id="tabletop">
        <p><b>Turno da Manhã(7:15 às 11:15)</b></p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>