<div id="tudo">
  <div id="conteudo">
      <div id="topo">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <img src="imagem/labinfo.gif" class="img-responsive" alt="Sem Imagem" width="116" height="84">
          <a class="navbar-brand" href="bolsistas.html">Cadastro de Bolsistas</a>
      </nav>
      </div>
      <div id="sidebar">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                      <a class="nav-link" href="#">Principal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Cadastro</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Ex-Bolsistas</a>
                    </li>
              </ul>
      </div>
      <div id="tabletop">
          <p>Turno da Manhã</p>
      </div>
      <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                </tr>
              </tbody>
            </table>        
  </div>
</div>
